openapi: 3.0.0
info:
  title: aiot-smarthome-adapter
  version: 1.0.0
servers:
  - url: http://aiot-smarthome-adapter.mobi

paths:
  /thing:
    post:
      summary: create thing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                token:
                  type: string
                  example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2MTU0MjQ4MzgsImlhdCI6MTYxNTM4ODgzOCwiaXNzIjoibWFpbmZsdXguYXV0aCIsInN1YiI6InRlc3RAZW1haWwuY29tIiwiaXNzdWVyX2lkIjoiZDc4MmI0MmItZTMxNy00Y2Q3LTlkZDAtNGUyZWEwZjM0OWM4IiwidHlwZSI6MH0.TAQxV6TImKw06RsK0J11rOHiWPvexEOA4BNZnhLhtxs
                  description: mainflux user token
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: true
        "401":
          description: ok
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message: 
                    type: string
                    example: Invalid token
    delete:
      summary: delete thing by id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                token:
                  type: string
                  example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2MTU0MjQ4MzgsImlhdCI6MTYxNTM4ODgzOCwiaXNzIjoibWFpbmZsdXguYXV0aCIsInN1YiI6InRlc3RAZW1haWwuY29tIiwiaXNzdWVyX2lkIjoiZDc4MmI0MmItZTMxNy00Y2Q3LTlkZDAtNGUyZWEwZjM0OWM4IiwidHlwZSI6MH0.TAQxV6TImKw06RsK0J11rOHiWPvexEOA4BNZnhLhtxs
                  description: mainflux user token
                thing_id: 
                  type: string
                  example: 64140f0b-6448-41cf-967e-1bbcc703c332
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: true
        "401":
          description: ok
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message: 
                    type: string
                    example: Invalid token
        "400":
          description: ok
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: false
                  message: 
                    type: string
                    example: thing not found
