openapi: 3.0.0
info:
  title: aiot-smarthome-adapter
  version: 1.0.0
servers:
  - url: http://aiot-smarthome-adapter.mobi

paths:
  /smarthome/v1/create-device:
    post:
      summary: create device
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                mac_address:
                  type: string
                  example: 2C:54:91:88:C9:E3 or 2c-54-91-88-c9-e3
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                properties:
                  thing_key:
                    type: string
                    example: 64140f0b-6448-41cf-967e-1bbcc703c332
                  thing_id: 
                    type: string
                    example: 64140f0b-6448-41cf-967e-1bbcc703c332
                  channel_id: 
                    type: string
                    example: 7e95501e-8cee-48f6-b035-a0500a6b4c96
  /smarthome/v1/delete-device:
    post:
      summary: delete device
      security:
        - TokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                thing_id: 
                  type: string
                  example: 64140f0b-6448-41cf-967e-1bbcc703c332
                channel_id: 
                  type: string
                  example: 7e95501e-8cee-48f6-b035-a0500a6b4c96
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: true
        "401":
          description: ""
          content:
            application/json:
              schema:
                properties:
                  error: 
                    type: string
                    example: Invalid token
        "500":
          description: ""
          content:
            application/json:
              schema:
                properties:
                  error: 
                    type: string
                    example: can not connect to mainflux api

components:
  securitySchemes:
    TokenAuth:       
      type: apiKey
      in: header     
      name: token